// Datagrid SASS variables

$oc-color-grid-text: #67707C !default;
$oc-color-grid-border: #D3DADE !default;
$oc-color-grid-background: #FFFFFF !default;
$oc-color-grid-stripe: #D3DADE !default;
$oc-color-grid-highlight: #eff2f4 !default;
$oc-color-grid-selected: #e6e9eb !default;
$oc-color-grid-error: #D82515 !default;
$oc-color-grid-warning: #FECA1D !default;
$oc-color-grid-column-resizer: #EC6608 !default;
$oc-color-grid-edited: #CCCCCC !default;
$oc-color-grid-tooltip: #006070 !default;
