{
  "presets": [
    ["env", { "modules": false }],
    "stage-1",
    "react"
  ],
  "plugins": ["react-hot-loader/babel", "transform-decorators-legacy"],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    },
    "test": {
      "presets": ["env", "stage-1", "react"],
      "plugins": ["transform-decorators-legacy"]
    }
  }
}