@import "colors";

$oc-icon-red: $oc-color-attention-red;
$oc-icon-green: $oc-color-attention-green;
$oc-icon-orange: $oc-color-primary-orange;
$oc-icon-light-gray: $oc-color-support-lightgray;
$oc-icon-gray: $oc-color-primary-azure;
$oc-icon-yellow: $oc-color-primary-yellow;
$oc-icon-white: $oc-color-white;

.oc-icon-remove {
    fill: $oc-color-primary-azure;
}

.oc-icon-burger-close {
    fill: $oc-color-primary-azure;
}

.oc-icon-burger {
    fill: $oc-color-primary-azure;
}

.oc-icon-logo {
    fill: $oc-icon-white;
}

.oc-icon-light-gray {
    fill: $oc-icon-light-gray;
}

.oc-icon-gray {
    fill: $oc-icon-gray;
}

.oc-icon-product {
    fill: $oc-icon-light-gray;
}

.oc-icon-indicator {
    fill: $oc-icon-gray;
}

.oc-icon-status-error {
    fill: $oc-icon-red;
}

.oc-icon-status-attention {
    fill: $oc-icon-orange;
}

.oc-icon-status-success {
    fill: $oc-icon-green;
}

.oc-icon-status-warning {
    fill: $oc-icon-yellow;
}

.oc-icon-product-accounts {

}
.oc-icon-product-archive {

}
.oc-icon-product-dashboard {

}
.oc-icon-product-info {

}
.oc-icon-product-invoices {

}
.oc-icon-product-liquidity {

}
.oc-icon-product-netting {

}
.oc-icon-product-payments {

}
.oc-icon-product-settings {

}
.oc-icon-product-tools {

}
.oc-icon-product-user {

}
.oc-icon-product-users {

}
.oc-icon-alert {

}
.oc-icon-arrow-left {

}
.oc-icon-attachment {

}
.oc-icon-calendar {

}
.oc-icon-caret-left {

}
.oc-icon-caret-right {

}
.oc-icon-check {

}
.oc-icon-clock {

}
.oc-icon-close {

}
.oc-icon-comment {

}
.oc-icon-commented {

}
.oc-icon-delete {

}
.oc-icon-edit {

}
.oc-icon-email {

}
.oc-icon-error {

}
.oc-icon-exclamation {

}
.oc-icon-export {

}
.oc-icon-filtering {

}
.oc-icon-flagged {

}
.oc-icon-folder {

}
.oc-icon-inspected {

}
.oc-icon-inspected-approved {

}
.oc-icon-liquidity {

}
.oc-icon-logout {

}
.oc-icon-minus {

}
.oc-icon-more {

}
.oc-icon-ok {

}
.oc-icon-plus {

}
.oc-icon-presentation {

}
.oc-icon-print {

}
.oc-icon-remove {

}
.oc-icon-save {

}
.oc-icon-search {

}
.oc-icon-settings {

}
.oc-icon-sort-asc {

}
.oc-icon-sort-desc {

}
.oc-icon-in-clarification {

}
.oc-icon-locked {

}
.oc-icon-missing {

}
.oc-icon-rejected {

}
.oc-icon-user {

}