.container-fluid {
  height: calc(100% - 70px);
  >.row {
    height: 100%;
    >.col-xs-12 {
      height: 100%;
      >.panel {
        height: 100%;
        >.panel-body {
          height: 100%;
        }
      }
    }
  }
}


