@import 'styles/app',
        'styles/mixins',
        'styles/bootstrap_v3_custom',
        'styles/bootstrap_v3_overrides',
        'styles/bootstrap_v3_without_icons',
        'styles/buttons',
        'styles/colors',
        'styles/icons',
        'styles/inputs',
        'styles/variables';

@import './flex';



.oc-margin-bottom {
    margin-bottom: 1rem;
}

#oc-examples {
  height: 100%;
}

.oc-link-active {
    color: $oc-color-primary-orange !important;
}

.oc-burger-orange {
    background-color: $oc-color-primary-orange;

    .oc-icon-burger {
        fill: $oc-color-white;
    }
}