@import "../styles/colors",
        "../styles/variables";

@import '../styles/bootstrap_v3_custom';
@import '../styles/bootstrap_v3_without_icons';

@import "../styles/mixins",
        "../styles/icons",
        "../styles/buttons",
        "../styles/inputs";

@import './flex';
@import '../styles/bootstrap_v3_overrides';
@import '../styles/_app';

.oc-margin-bottom {
    margin-bottom: 1rem;
}

#oc-examples {
  height: 100%;
}

.oc-link-active {
    color: $oc-color-primary-orange !important;
}

.oc-burger-orange {
    background-color: $oc-color-primary-orange;

    .oc-icon-burger {
        fill: $oc-color-white;
    }
}