@import '../styles/variables';

.oc-columns {
  height: 100%;
}

.oc-columns-container {
  column-gap: $oc-space-content;
  column-count: 2;
  margin-left: $oc-space-content;
  margin-top: $oc-space-content;
  margin-right: $oc-space-content;

  .oc-columns-item-container {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid; /* Firefox is dumb */
    break-inside: avoid;
    padding-bottom: $oc-space-content;
  }
}

@media screen and (max-width: 980px) {
  .oc-columns-container {
    column-count: 1;
  }
}

@media screen and (min-width: 981px) and (max-width: 1650px){
.oc-columns-container {
    column-count: 2;
  }
}

@media screen and (min-width: 1651px) and (max-width: 1980px){
  .oc-columns-container {
    column-count: 3;
  }
}

@media screen and (min-width: 1981px) {
  .oc-columns-container {
    column-count: 4;
  }
}