@import '~@opuscapita/oc-cm-common-styles/styles/app',
'~@opuscapita/oc-cm-common-styles/styles/mixins',
'~@opuscapita/oc-cm-common-styles/styles/bootstrap_v3_custom',
'~@opuscapita/oc-cm-common-styles/styles/bootstrap_v3_overrides',
'~@opuscapita/oc-cm-common-styles/styles/bootstrap_v3_without_icons',
'~@opuscapita/oc-cm-common-styles/styles/buttons',
'~@opuscapita/oc-cm-common-styles/styles/colors',
'~@opuscapita/oc-cm-common-styles/styles/icons',
'~@opuscapita/oc-cm-common-styles/styles/inputs',
'~@opuscapita/oc-cm-common-styles/styles/variables';

#root {
  .oc-datagrid-container {
    height: 100vh;
  }
}

.custom-action-bar {
  background: #f0f0f0;
  border: 1px solid #ddd;
  display: flex;
  height: calc(100% - 1px);
  align-items: center;
  padding: 0 2rem;
}
