/* Primary */
$oc-color-primary-orange: #EC6608;
$oc-color-primary-yellow: #FECA1D;
$oc-color-primary-azure: #67707c;

$oc-color-background-aside: #EAEFF3;
$oc-color-background-menu: #3C4A55;
$oc-color-main: $oc-color-primary-orange;

/* Support */
$oc-color-support-black: #000000;
$oc-color-support-petrol: #006070;
$oc-color-support-darksteel: #3B4A56;
$oc-color-support-gray: #CCCCCC;
$oc-color-support-lightgray: #D3DADE;

/* Attention */
$oc-color-attention-red: #DD2515;
$oc-color-attention-green: #3AA57B;

/* Other colors e.g. graphs */
$oc-color-yellow: #FECA1D;
$oc-color-orange: #E66608;
$oc-color-green: #3AA57B;
$oc-color-azure: #67707C;
$oc-color-black: #000000;
$oc-color-petrol: #006070;
$oc-color-gray: #CCCCCC;
$oc-color-red: #D82515;
$oc-color-blue: #16AED6;
$oc-color-violet: #943BA3;
$oc-color-white: #FFFFFF;

/* Text */
$oc-color-text: $oc-color-primary-azure;
$oc-color-text-link: $oc-color-primary-orange;
$oc-color-text-disabled: #a7a7a7;

/* Statuses */
$oc-color-warning: $oc-color-yellow;
$oc-color-success: $oc-color-green;
$oc-color-error: $oc-color-red;
$oc-color-info: $oc-color-blue;

/* Tooltip */
$oc-color-tooltip-text: $oc-color-white;
$oc-color-tooltip-background: $oc-color-support-petrol;

/* Toast a.k.a. notes */
$oc-color-toast-text: $oc-color-black;
$oc-color-toast-background: #eaeaea;

/* Pseudo classes */
$oc-color-pseudo-normal: $oc-color-primary-azure;
$oc-color-pseudo-focused: $oc-color-primary-yellow;
$oc-color-pseudo-hover: $oc-color-primary-yellow;
$oc-color-pseudo-pressed: $oc-color-primary-yellow;
$oc-color-pseudo-disabled: #d5d5d5;

/* Backgrounds */
$oc-color-content-background: $oc-color-white;
$oc-color-site-background: $oc-color-support-lightgray;

/* Buttons */
$oc-color-button-text: $oc-color-white;
$oc-color-button-text-disabled: $oc-color-text-disabled;

$oc-color-button-normal: $oc-color-primary-azure;
$oc-color-button-focused: $oc-color-primary-azure;
$oc-color-button-hover: #77818c;
$oc-color-button-pressed: #585F68;

$oc-color-button-priority-normal: $oc-color-orange;
$oc-color-button-priority-focused: $oc-color-orange;
$oc-color-button-priority-hover: #ff7517;
$oc-color-button-priority-pressed: #d35c0b;

$oc-color-button-disabled: #f0f0f0;

/* Date picker */
$oc-color-date-picker-content: #E9E9E9;

/* Select */
$oc-color-select-hover: #eff2f4;
$oc-color-select-selected: #e6e9eb;

/* Grids */
$oc-color-grid-text: $oc-color-primary-azure;
$oc-color-grid-border: $oc-color-support-lightgray;
$oc-color-grid-background: $oc-color-white;
$oc-color-grid-stripe: $oc-color-support-lightgray;
$oc-color-grid-highlight: #eff2f4;
$oc-color-grid-selected: #e6e9eb;
