*:not(li) > a {
  @include oc-outline();
  border-radius: 1px;
  
  &:focus {
    text-decoration: none !important; 
  }   
}

li > a {
  &:focus {
    outline: 1px auto $oc-color-primary-yellow;
  }
}