@import "colors";

.oc-table {
    background-color: $oc-color-white;

    $oc-table-border: 1px solid $oc-color-support-lightgray;

    $oc-table-hover-color: #e3e8ec;
    $oc-table-padding: 0.8rem;
    $oc-table-row-height: 4rem;
    $oc-table-header-font-size: 1.5rem;
    $oc-table-body-font-size: 1.3rem;

    width: 100%;
    border-collapse: collapse;
    table-layout:auto;

    &-column-date {
        width: 9rem;
    }

    .align-right {
        text-align: right;
    }

    thead tr {
        border-bottom:  $oc-table-border;
        height: $oc-table-row-height;

        th {
            padding-left: $oc-table-padding;
            font-weight: 700;
            font-size: $oc-table-header-font-size;
            /*&:not(:first-child) {
                border-left:  $oc-table-border;
            }*/
        }
    }

    tbody tr {
        height: $oc-table-row-height;

        &:hover {
            background-color: $oc-table-hover-color;
        }

        &:not(:last-child) {
            border-bottom:  $oc-table-border;
        }

        td {
            padding-left: $oc-table-padding;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
            font-weight: 400;
            font-size: $oc-table-body-font-size;
        }
    }
}